html(lang="en")
    head
        title Shopdigits - Call center for Shopify
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="container mx-auto px-4")
            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="flex flex-shrink-0 mr-6")
                    a(class="text-xl text-indigo-600 font-semibold font-heading", href="#")
                        img(src="images/600db8d2649737998d7ab686-Shopdigits-teal-300x.png", alt="Dunder Mifflin", width="200")
                div(class="block lg:hidden")
                    button(class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500")
                        svg(class="fill-current h-3 w-3", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                            title Menu
                            path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                div(class="navbar-menu hidden lg:flex lg:flex-grow lg:items-center w-full lg:w-auto")
                    div(class="lg:mx-auto")
                        a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600", href="https://apps.shopify.com/shopdigits-1") Shopify
                        a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-indigo-600", href="https://apps.apple.com/us/app/shopdigits/id1552994120") Apple Store
                        a(class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-indigo-600", href="https://play.google.com/store/apps/details?id=app.shopdigits.caller") Google Store
                    div
                        a(class="inline-block py-3 px-6 mt-4 lg:mt-0 leading-none text-white hover:bg-indigo-700 font-semibold rounded shadow bg-black", href="mailto:support@shopdigits.app") Contact Us
            section(class="py-12 px-4")
                div(class="flex flex-wrap items-center text-center lg:text-left -mx-2")
                    div(class="lg:w-1/4 px-2")
                        img(src="images/601f454335c6873cbd7e891d-shopdigits-final.png", alt="")
                    div(class="lg:w-3/4 px-2 lg:pl-16 mt-10 lg:mt-0")
                        h2(class="text-5xl mb-6 leading-tight font-semibold font-heading") Your virtual call center for Shopify
                        p(class="text-gray-400 leading-relaxed") Phone number & mobile customer support: Calls, SMS & Voicemail. Set-up a toll free phone number and voicemail in minutes using either our number generator or by entering in your preferred number.
                        div(class="mt-8")
                            a(class="inline-block py-4 px-8 mr-6 leading-none text-white hover:bg-indigo-700 font-semibold rounded shadow bg-black", href="https://apps.shopify.com/shopdigits-1") Shopify App Store
                            a(class="text-black hover:underline", href="mailto:support@shopdigits.app") Contact Us
            section(class="py-12 px-4")
                h2(class="text-4xl mb-2 text-center leading-tight font-semibold font-heading") How Shopify Works? 
                div
                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8")
                            img(class="w-4/5 mx-auto", src="images/601f3bdae1fe7a516bf968ba-Emma-Screen-final-01-01.png", alt="")
                        div(class="md:w-1/2 px-8 mb-8")
                            h3(class="text-2xl mb-3 font-semibold font-heading") Shopdigits Shopify App
                            p(class="text-gray-400 leading-relaxed") Shopdigits allows you to set-up a local or a toll-free phone number in minutes using either our number generator or by entering in your preferred number. 
                    div(class="flex flex-wrap items-center -mx-8 bg-gray-100")
                        div(class="md:w-1/2 px-8 mb-8 md:order-1")
                            img(class="w-4/5 mx-auto", src="images/6026c2e2918f0551dcb56971-Dashboard-Final-300x.png", alt="")
                        div(class="md:w-1/2 px-8 md:text-right")
                            h3(class="text-2xl mb-3 font-semibold font-heading") Manage customer calls on your Shopify dashboard
                            p(class="text-gray-400 leading-relaxed") Your employees can manage customer calls on an easy to use dashboard. Shopdigits helps distinguish which calls were missed, whether a customer is returning, or if you received an influx of new customer calls as a result of a recent campaign.
                    div(class="flex flex-wrap items-center -mx-8")
                        div(class="md:w-1/2 px-8 mb-8 order-none")
                            img(class="w-4/5 mx-auto", src="images/6025d0be30308fa7e8353170-Select-Number-300x.png", alt="")
                        div(class="md:w-1/2 px-8")
                            h3(class="text-2xl mb-3 font-semibold font-heading") Set up a toll-free line in minutes
                            p(class="text-gray-400 leading-relaxed") Quickly register a toll-free business line using Shopdigits by either selecting a randomly generated number or one that you have in mind. Once you have your number selection - assign employees to the number to ensure you never miss an opportunity to interact with your customers.
            section(class="py-12 px-4")
                div(class="max-w-3xl mx-auto")
                    h2(class="text-4xl text-center mb-6 font-semibold font-heading") Frequently Asked Questions
                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow") How do I setup Shopdigits on my phone?
                        svg(class="text-indigo-600 w-6 h-6", fill="none", stroke="currentColor", viewbox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 5l7 7-7 7")
                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow") How do I setup multiple employees on the application?
                        svg(class="text-indigo-600 w-6 h-6", fill="none", stroke="currentColor", viewbox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 5l7 7-7 7")
                    button(class="flex items-center w-full p-4 mb-4 text-left rounded shadow")
                        span(class="flex-grow") How do I access customer order information inside the app? 
                        svg(class="text-indigo-600 w-6 h-6", fill="none", stroke="currentColor", viewbox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 5l7 7-7 7")
                    button(class="flex items-center w-full p-4 text-left rounded shadow")
                        span(class="flex-grow") Can I setup a custom voicemail?
                        svg(class="text-indigo-600 w-6 h-6", fill="none", stroke="currentColor", viewbox="0 0 24 24", xmlns="http://www.w3.org/2000/svg")
                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 5l7 7-7 7")
            section(class="py-12 px-4 text-center bg-gray-100")
                div(class="w-full max-w-2xl mx-auto")
                    h2(class="text-5xl leading-tight font-semibold font-heading") Get the Shopdigits App for your Shopify Store
                    div(class="flex flex-wrap -mx-8")
                        div(class="w-full md:w-1/2 py-4 px-8 mb-4 md:mb-0")
                            #img(src="placeholders/pictures/office.jpg", alt="", class="rounded shadow-md")
                        div(class="w-full md:w-1/2 py-4 px-8 mb-4 md:mb-0")
                            #img(src="placeholders/pictures/office.jpg", alt="", class="rounded shadow-md")
                    p(class="mt-6 mb-8 text-gray-400 leading-relaxed") Google Play and the Google Play logo are trademarks of Google, Inc. Apple, the Apple logo, and iPhone are trademarks of Apple, Inc., registered in the U.S.
                    |           
                    a(class="inline-block py-4 px-8 leading-none text-white bg-black hover:bg-black font-semibold rounded shadow", href="https://apps.shopify.com/shopdigits-1") Install Now
